.list-inline{
	list-style:none;
	padding-left:0px;
	display:inline;
	padding:10px;
	font-size:20px;

}
.lien{
	font-family:'IBM Plex Sans', sans-serif;
	color:#3AB4F2;
	padding:5px 20px;
	transition:1s;
	background-color: #f0eded;
	margin-right:none;
	margin-left:none;
}

.lien:hover{
	font-family:'IBM Plex Sans', sans-serif;
	color:#0078AA;
	transition:1s;
	background-color:#ccc6c6;
}
.list-inline li{
	display:inline;
}

.menu{
	position: fixed;
	top: -0;
	width: 100%;
	background-color: #F6F6F6;
	text-align:center;
	z-index:100; 
}

.menu a{
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
}
